src/*.exe
src/mickel
src/mickeld
src/test_mickel
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.litecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
mickel-qt
Mickel-Qt.app

# Unit-tests
Makefile.test
mickel-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build
Info
Mickel-Qt.xcodeproj

!src/leveldb-*/Makefile
